.conteudo-listagem {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}


.agendamento tr:not(:first-child) td {

    background-color: white;
    padding: 10px;


}

.conteudo-agendamento {
    padding-bottom: 100px;
}

.agendamento {
    border-collapse: separate;
    border-spacing: 0 10px;
}

/*todas as tr menos a primeira, e a primeira td*/
.agendamento tr:not(:first-child) td:first-child {
    border-radius: 10px 0px 0px 10px;
}

/*todas as tr menos a primeira, e a ultima td*/
.agendamento tr:not(:first-child) td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.filtro {
    border: none;
    padding: 3px;
    outline: none;
    width: 100%;
}

.conteudo-filtro {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #a4b0be;
    background-color: #ffffff;
    width: 291px;
    display: flex;
    align-items: center;

}

.conteudo-botao {
    display: flex;
    justify-content: center;


}

.btn-lista {
    width: 174px;
    justify-content: center;

}