.conteudo-listagem {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}


.agendamento tr:not(:first-child) td {

    background-color: white;
    padding: 10px;


}

.conteudo-botao {
    text-align: center;
    border-radius: 5px;

}

.agendamento {
    border-collapse: separate;
    border-spacing: 0 10px;
}

/*todas as tr menos a primeira, e a primeira td*/
.agendamento tr:not(:first-child) td:first-child {
    border-radius: 10px 0px 0px 10px;
}

/*todas as tr menos a primeira, e a ultima td*/
.agendamento tr:not(:first-child) td:last-child {
    border-radius: 0px 10px 10px 0px;
}

.filtro {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #a4b0be;

}