/**
Botão ( button )
Titulo ( h1, h2 )
paragrafos (p)

Tabela ( table ) 
Calendário (table)
Inputs (input)
Selects (select)

logo ( img )
icone ou imagem ( modal ) 
modal ( dialog ) 
menu (ul)
*/

body,
html {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #efefef;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: none;
    border: none;
    /* Arrendonda as pontas do botão */
    border-radius: 5px;
    height: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .125s;
}

.btn:hover {
    background-color: #ffffff;
    color: #A47BBE;
    outline: 1px solid #A47BBE;
}

.btn-grande {
    width: 100%;
}

.btn-sair {
    width: 50px;
    justify-content: center;
}

.logo {
    /* width: 190px; */
    /* height: 61px; */
    object-fit: contain;
}

.logo-icone {

    height: 102px;
    width: 96px;
}

.logo-texto {
    /* height: 102px; */
    width: 151px;
    margin-bottom: 23px;
}

.conteudo-logo {
    display: flex;
    align-items: flex-end;
}

input[type=checkbox] {
    accent-color: #A47BBE;
}

/** ============== CABEÇALHO ==================================== */

.cabecalho {
    width: 100%;
}

.conteudo-cabecalho {
    width: 80%;
    /* Torna o conteudo da tag flexivel*/
    /* https://developer.mozilla.org/pt-BR/docs/Learn/CSS/CSS_layout/Flexbox */
    display: flex;
    /* Estudar */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.menu {
    display: flex;
    flex: 1;
    justify-content: center;

}

.menu ul {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    list-style: none;
    gap: 20px;
}

.menu ul li {
    padding-inline: 10px;
    position: relative;
}

.menu ul li::before {
    content: '';
    height: 5px;
    pointer-events: none;
    background-color: #A47BBE;
    width: 0;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all .125s;
}

.menu ul li:hover::before {
    width: 100%;
}

/** ======= INICIO CONTEUDO PRINCIPAL =================**/

.conteudo-principal {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    margin: 0 auto;
}


.imagem-principal {
    height: 300px;
    /* margin-top: 30px; */
    object-fit: cover;
}

.card {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-artigo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.margin-32px {
    margin: 32px;
}

.margin-left-32px {
    margin-left: 32px;
}

.margin-right-32px {
    margin-right: 32px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-left-0 {
    margin-left: 0px;
}

.card-imagem {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-imagem img {
    width: 400px;
    object-fit: contain;
    border-radius: 4px;
}

.imagem-300 img {
    height: 300px;
    width: 300px;
}


/**

============= INICIO RODAPÉ
*/

.rodape {
    padding-bottom: 50px;
}

.conteudo-rodape {
    width: 80%;
    margin: 0 auto;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;
}

.redes-sociais {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    list-style: none;
}

.redes-sociais li {
    margin-right: 20px;
    font-size: 30px;
}

.redes-sociais li i {
    transition: color .125s;
}

.redes-sociais li i:hover {
    cursor: pointer;
    color: #A47BBE;
}


.cartoes {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    list-style: none;
    align-items: center;
}

.cartoes img {
    width: 60px;
}