.cabecalho {
    /* width: 100%; */
    box-shadow: 1px 1px 6px #4F4F4F;
}

h1 {
    margin-inline-start: 27px;
}

.formulario {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo-contato button {
    width: 174px;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.conteudo-email-telefone {
    display: flex;
}

.conteudo-mensagem textarea {
    resize: none;
    border: 1px solid #949494;
    border-radius: 10px;
    padding: 10px;
}

.conteudo-mensagem {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.input-field input {
    width: 300px;
}

.conteudo-enviar {
    margin-top: 40px;
    margin-bottom: 50px;
}

dialog {
    padding: 40px;
    border: none;
    border-radius: 20px;
}

.dialog-header {
    display: flex;
    justify-content: center;
}

.dialog-body {
    font-weight: 400;
}

.dialog-footer {
    justify-content: center;
    display: flex;
}

.imagem-sucesso {
    width: 60px;
    height: 60px;
    display: flex;
}

.fechar {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #A47BBE;
    border: 1px solid #A47BBE;
    color: #ffffff;
}

.fechar:hover {
    background-color: #ffffff;
    border: 1px solid #A47BBE;
    color: #A47BBE;
}