* {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    /*Ajusta o peso da fonte*/
    font-weight: 300;
}

.subtitulo {
    font-weight: 300;
}


.fonte-tamanho-35 {
    font-size: 35px;
}

.fonte-tamanho-20 {
    font-size: 20px;
}